Homepage styles .page-bg {
  background: linear-gradient(
    90deg,
    rgba(131, 127, 191, 1) 0%,
    rgba(66, 66, 242, 1) 35%,
    rgba(51, 0, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.home {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  justify-content: space-around;
}

.hero-text h1 {
  font-size: 60px;
}

.hero-img img {
  width: 90%;
  height: auto;
}

/* Navbar styles */
.navbar {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar img {
  width: 50px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #fff;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-link {
  color: #fff;
  transition-duration: 300ms;
  text-decoration: none;
  margin: 0 15px;
}

.nav-link:hover {
  color: #ff6347;
  text-underline-offset: 7px;
  text-decoration: underline;
}

/* Shop styles */
.form {
  display: flex;
  flex-direction: column;
  width: 45dvh;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #26413c;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #26413c;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

/* Dashboard */

.dashboard {
  padding: 20px 40px;
}

.island {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  /* width: 40%; */
  background: #80808072;
  border-radius: 30px;
}

.island h5 {
  margin-right: 15px;
}

.new-product-form {
  margin: 35px 0px 20px;
  position: sticky;
  top: 0;
}

.new-product-form input {
  margin: 5px 5px 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-product-form button {
  margin: 5px;
  padding: 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:last-child {
  background-color: #551c5b;
}

.buttons-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}
